<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arad.care4pets">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Care4Pets"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Care4Pets">
        <activity
            android:name=".HealthRecordDetails"
            android:exported="false" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".HealthRecordsActivity" />
        <activity android:name=".AddHealthRecordActivity" />
        <activity android:name=".CareInstructionsActivity" />
        <activity android:name=".AddReminderActivity" />
        <activity android:name=".EditReminderActivity" />
        <activity android:name=".RemindersActivity" />
        <activity android:name=".PetProfileActivity" />
        <activity android:name=".AddPetActivity" />
        <activity android:name=".EditPetActivity"/>
        <activity android:name=".PetsListActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".SignupActivity" /> <!-- Launcher (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReminderNotificationReceiver"
            android:exported="false"/>

        <receiver
            android:name=".BootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>